<div class="matrix-cell">
  <div class="matrix-cell-image-wrapper">
    <%= link_to artist do %>
      <img src="<%= MetalArchives::Artist.find(artist.metal_archives_key).photo.to_s %>" class="matrix-cell-image" alt="<%= artist.display_name %>">
      <div class="matrix-cell-image-overlay"></div>
    <% end %>
    <a href="javascript:void(0)" onclick="$(this).toggleClass('liked');" class="rating"><i class="fa fa-heart rating-heart"></i> <%= Random.rand 100 %></a>
  </div>
  <div class="matrix-cell-title">
    <%= link_to artist.display_name, artist %>
  </div>
  <div class="matrix-cell-description">
    <a href="#"><%= artist.country&.display_name %></a>
  </div>
</div>
