<div class="matrix-cell">
  <div class="matrix-cell-image-wrapper">
    <%= link_to artist do %>
      <img src="" class="matrix-cell-image" alt="<%= artist.display_name %>">
      <div class="matrix-cell-image-overlay"></div>
    <% end %>
    <% if current_user.rated.include? artist %>
      <%= link_to unrate_artist_path(artist), :method => :post, :class => 'rating liked' do %><i class="fa fa-heart rating-heart"></i> <%= artist.raters.count %><% end %>
    <% else %>
      <%= link_to rate_artist_path(artist), :method => :post, :class => 'rating' do %><i class="fa fa-heart rating-heart"></i> <%= artist.raters.count %><% end %>
    <% end %>
  </div>
  <div class="matrix-cell-title">
    <%= link_to artist.display_name, artist %>
  </div>
  <div class="matrix-cell-description">
    <a href="#"><%= artist.country&.display_name %></a>
  </div>
</div>
