<div class="matrix-cell">
  <div class="matrix-cell-image-wrapper">
    <%= link_to group do %>
      <img src="" class="matrix-cell-image" alt="<%= group.display_name %>">
      <div class="matrix-cell-image-overlay"></div>
    <% end %>
    <% if current_user.rated.include? group %>
      <%= link_to unrate_group_path(group), :method => :post, :class => 'rating liked' do %><i class="fa fa-heart rating-heart"></i> <%= group.raters.count %><% end %>
    <% else %>
      <%= link_to rate_group_path(group), :method => :post, :class => 'rating' do %><i class="fa fa-heart rating-heart"></i> <%= group.raters.count %><% end %>
    <% end %>
  </div>
  <div class="matrix-cell-title">
    <%= link_to group.display_name, group %>
  </div>
  <div class="matrix-cell-description">
    <a href="#"><%= group.country.display_name %></a>
  </div>
</div>
