<div class="matrix-cell">
  <div class="matrix-cell-image-wrapper">
    <a href="#">
      <img src="<%= image_path %>" class="matrix-cell-image" alt="<%= album %>">
      <div class="matrix-cell-image-overlay"></div>
    </a>
    <div class="matrix-cell-image-actions">
      <a href="#"><i class="fa fa-heart<%= (liked ||= false)  ? '-o liked' : '' %> rating"></i></a>
    </div>
  </div>
  <div class="matrix-cell-title">
    <a href="#"><%= album %></a>
  </div>
  <div class="matrix-cell-description">
    <a href="#"><%= artist %></a>
  </div>
</div>
