<% content_for :title do %>Create account<% end %>

<div class="card-block">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <%= link_to new_session_path(resource_name), :class => 'nav-link' do %>
        I have an account
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_registration_path(resource_name), :class => 'nav-link active' do %>
        I'm new here
      <% end %>
    </li>
  </ul>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'partials/devise_messages' %>
  <div class="card-block">
    <div class="inner-addon left-addon form-group">
      <i class="fa fa-at"></i>
      <%= f.email_field :email,
                        :placeholder => 'Email',
                        :autofocus => true,
                        :required => true,
                        :class => 'form-control' %>
    </div>
    <div class="inner-addon left-addon form-group">
      <i class="fa fa-user"></i>
      <%= f.text_field :name,
                       :placeholder => 'Name (optional)',
                       :class => 'form-control' %>
    </div>
    <div class="inner-addon left-addon form-group">
      <i class="fa fa-lock"></i>
      <%= f.password_field :password,
                           :placeholder => 'Password (minimum ' + Rails.application.config.devise.password_length.first.to_s + ' characters)',
                           :autocomplete => 'off',
                           :required => true,
                           :class => 'form-control' %>
    </div>
  </div>

  <div class="card-block">
    <%= f.submit 'Create account', :class => 'btn btn-primary' %>
  </div>

  <div class="card-block">
    <div class="hr-title">
      <span class="hr-overlay">or</span>
    </div>
  </div>

  <div class="card-block">
    <%= render 'devise/shared/omniauth' %>
  </div>
<% end %>
