<% content_for :title do %><%= @group.names.where(:primary => true).first.name %><% end %>

<h2><%= @group.names.where(:primary => true).first.name %></h2>

<p>
  <% if current_user.following.include? @group %>
    <%= link_to 'Unfollow', unfollow_group_path(@group), :method => :post %>
  <% else %>
    <%= link_to 'Follow', follow_group_path(@group), :method => :post %>
  <% end %>
</p>

<p>
  <strong>Names: </strong> <%= @group.names.pluck(:name).join ', ' %> <br/>
  <strong>Year formed: </strong> <%= @group.year_formed.year %> <br />
  <strong>Status: </strong> <%= @group.status.capitalize %> <br />
</p>

<p>
  <strong>Followers: </strong>
  <ul>
    <% @group.followers.each do |follower| %>
      <li><%= link_to follower.name, user_path(follower) %></li>
    <% end %>
  </ul>
</p>
