<% content_for 'title' do %>Reset password<% end %>

<% if flash.any? or devise_error_messages? %>
  <div class="m-b-2">
    <% flash.each do |key, value| %>
      <% if not value.blank? %>
        <div class="text-danger text-xs-center ">
          <strong><%= value %></strong>
        </div>
      <% end %>
      <% if devise_error_messages? %>
        <strong><%= devise_error_messages! %></strong>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="inner-addon left-addon">
    <i class="fa fa-lock"></i>
    <%= f.password_field :password,
                          :placeholder => 'Password (minimum ' + @minimum_password_length.to_s + ' characters)',
                          :autofocus => true,
                          :autocomplete => 'off',
                          :required => true,
                          :class => 'form-control m-b-2' %>
  </div>
  <div class="inner-addon left-addon">
    <i class="fa fa-lock"></i>
    <%= f.password_field :password_confirmation,
                          :placeholder => 'Confirm password',
                          :autocomplete => 'off',
                          :required => true,
                          :class => 'form-control m-b-2' %>
  </div>

  <div class="m-t-2">
    <%= f.submit 'Reset password', :class => 'btn btn-primary p-x-2' %>
  </div>
<% end %>
