<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'partials/devise_messages' %>

  <%= f.hidden_field :reset_password_token %>

  <div class="card-block">
    <div class="inner-addon left-addon form-group">
      <i class="fa fa-lock"></i>
      <%= f.password_field :password,
                           :placeholder => 'New password',
                           :autocomplete => 'off',
                           :autofocus => true,
                           :required => true,
                           :class => 'form-control' %>
    </div>
    <div class="inner-addon left-addon form-group">
      <i class="fa fa-lock"></i>
      <%= f.password_field :password_confirmation,
                           :placeholder => 'Confirm password',
                           :autocomplete => 'off',
                           :required => true,
                           :class => 'form-control' %>
    </div>
  </div>

  <div class="card-block">
    <%= f.submit 'Reset my password', :class => 'btn btn-primary' %>
  </div>
<% end %>
