<% content_for 'title' do %>Sign in<% end %>

<% if flash.any? or devise_error_messages? %>
  <div class="card-block">
    <% flash.each do |key, value| %>
      <% if not value.blank? %>
        <div class="text-danger text-xs-center ">
          <strong><%= value %></strong>
        </div>
      <% end %>
      <% if devise_error_messages? %>
        <strong><%= devise_error_messages! %></strong>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="card-block">
    <div class="inner-addon left-addon">
      <i class="fa fa-user"></i>
        <%= f.text_field :email,
                          :placeholder => 'Email',
                          :autofocus => true,
                          :class => 'form-control m-b-2' %>
    </div>
    <div class="inner-addon left-addon">
      <i class="fa fa-lock"></i>
        <%= f.password_field :password,
                          :placeholder => 'Password',
                          :autocomplete => 'off',
                          :class => 'form-control m-b-2' %>
    </div>
  </div>

  <div class="card-block">
    <%= f.submit 'Sign in', :class => 'btn btn-primary p-x-2' %>
    <% if devise_mapping.recoverable? %>
      <%= link_to new_password_path(resource_name), :class => 'btn pull-lg-right' do %>
        <small>Forgot password</small>
      <% end %>
    <% end %>
    <% if devise_mapping.confirmable? %>
      <%= link_to new_confirmation_path(resource_name), :class => 'btn pull-lg-right' do %>
        <small>Confirm account</small>
      <% end %>
    <% end %>
  </div>
<% end %>
