<div class="card-block">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <%= link_to new_session_path(resource_name), :class => 'nav-link active' do %>
        I have an account
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_registration_path(resource_name), :class => 'nav-link' do %>
        I'm new here
      <% end %>
    </li>
  </ul>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="card-block">
    <div class="inner-addon left-addon form-group">
      <i class="fa fa-at"></i>
      <%= f.email_field :email,
                        :placeholder => 'Email',
                        :autofocus => true,
                        :required => true,
                        :class => 'form-control' %>
    </div>
    <div class="inner-addon left-addon form-group">
      <i class="fa fa-lock"></i>
      <%= f.password_field :password,
                           :placeholder => 'Password',
                           :autocomplete => 'off',
                           :required => true,
                           :class => 'form-control' %>
    </div>
  </div>

  <div class="card-block">
    <%= f.submit 'Sign in', :class => 'btn btn-primary' %>

    <% if devise_mapping.recoverable? %>
      <%= link_to new_password_path(resource_name), :class => 'btn pull-lg-right' do %>
        <small>Forgot password?</small>
      <% end %>
    <% end %>
  </div>

  <div class="card-block">
    <div class="hr-title">
      <span class="hr-overlay">or</span>
    </div>
  </div>

  <div class="card-block">
    <%= render 'devise/shared/omniauth' %>
  </div>
<% end %>
