<% content_for 'title' do %>Explore<% end %>

<h2>Explore</h2>

<div class="matrix">
  <%= render 'components/matrix-cell', :image_path => '/assets/covers/a-flame-to-the-ground-beneath.jpg', :album => 'A Flame To The Ground Beneath', :artist => 'Lost Horizon', :liked => true %>
  <%= render 'components/matrix-cell', :image_path => '/assets/covers/astronomy.jpg', :album => 'Astronomy', :artist => 'Dragonland' %>
  <%= render 'components/matrix-cell', :image_path => '/assets/covers/black-jack.jpg', :album => 'Black Jack', :artist => 'Amadeüs' %>
  <%= render 'components/matrix-cell', :image_path => '/assets/covers/espiritual.jpg', :album => 'Espiritual', :artist => 'Alberto Rionda\'s Alquimia' %>
  <%= render 'components/matrix-cell', :image_path => '/assets/covers/heroes-of-mighty-magic.jpg', :album => 'Heroes Of Mighty Magic', :artist => 'Twilight Force' %>
  <%= render 'components/matrix-cell', :image_path => '/assets/covers/in-thy-power.jpg', :album => 'In Thy Power', :artist => 'Cryonic Temple' %>
  <%= render 'components/matrix-cell', :image_path => '/assets/covers/into-the-legend.jpg', :album => 'Into The Legend', :artist => 'Rhapsody of Fire' %>
  <%= render 'components/matrix-cell', :image_path => '/assets/covers/rise-of-the-wise.jpg', :album => 'Rise Of The Wise', :artist => 'Wisdom' %>
</div>
