<%= content_for :title do %>Send feedback<% end %>

<div class="card-block">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to root_path(resource_name), :class => 'nav-link' do %>
        &laquo; Back
      <% end %>
    </li>
  </ul>
</div>

<div class="card-block">
  Did you see something that is missing? Did you encounter a bug? We'd love to hear from you!
</div>

<%= form_for Feedback.new, :url => { :controller => 'feedback', :action => 'create' } do |f| %>
  <div class="card-block">
    <div class="inner-addon left-addon">
      <i class="fa fa-bug"></i>
      <%= f.select :category,
                   options_for_select(Feedback::CATEGORIES),
                   { :required => true },
                   { :class => 'form-control' } %>
    </div>
    <p></p>
    <div class="inner-addon left-addon">
      <i class="fa fa-pencil"></i>
      <%= f.text_area :description,
                      :placeholder => 'Description',
                      :required => true,
                      :class => 'form-control' %>
    </div>
  </div>

  <div class="card-block">
    No personally identifiable information will be included in your feedback.
  </div>

  <div class="card-block">
    <%= f.submit 'Send feedback', :class => 'btn btn-primary' %>
  </div>
<% end %>
