<!DOCTYPE html>
<html>
  <head>
    <title><%= yield 'title' %> - Headbanger</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <%= render 'components/modals' %>
    <%= render 'components/navbar' %>

    <%= yield 'poster' %>

    <div class="container-fluid m-t-3">
      <div class="row">
        <div class="col-xs-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
          <%= render 'partials/messages' %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
