<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - Headbanger</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <div class="container p-4">
      <div class="row">
        <div class="card col-xs-10 offset-xs-1 col-lg-6 offset-lg-3 py-3">
          <div class="card-title text-center brand brand-lg">
            <%= link_to 'Headbanger', root_path %>
          </div>
          <%= render 'partials/messages' %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
